@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Allura&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


html,body{
    height: 100%;
    width: 100;
}

.wrapper{
    height: 100%;
    width: 100%;
    background-color: #f8f7f4;
}

.nav{
    height: 70px;
    width: 100%;
    background-color: rgb(230, 231, 231);
    display: flex;
    position: relative;
}

.left{
    height: 100%;
    width: 25%;
    /* background-color: chartreuse; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.left h1{
    font-family: "Allura", cursive;
    cursor: pointer;
}

.icon{
    /* font-size: 2vw; */
    display: none;
}

.left h1:hover{
    color: #383650;
}

.mid{
    height: 100%;
    width: 40%;
    /* background-color: cornflowerblue; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.mid a{
    text-decoration: none;
    color: black;
    margin-right: 2vw;
    font-size: 1.2vw;
    font-weight: 500;
    cursor: pointer;
}

.mid a:hover{
    color: gray;
}

.mid i{
    font-size: 1.5vw;
    margin-top: 2vw;
}

.abc{
    display: none;
}

.designer-box{
    height: 23vh;
    width: 18%;
    background-color: white;
    position: absolute;
    top: 11%;
    left: 25%;
    border-radius: 10px;
    padding: 1vw;
    color: grey;
    cursor: pointer;    
    display: none;
}

.right{
    height: 100%;
    width: 35%;
    /* background-color: lightpink; */
    display: flex;  
    align-items: center; 
    justify-content: center;
}

.right input{
    padding: .8vw 2vw;
    border-radius: 20px;
    border: none;
    margin-right: 1.5vw;
    position: relative;
}


.right p{
    font-size: 1.2vw;
    margin-right: 1.5vw;
    font-weight: 500;
}

.right p:hover{
    cursor: pointer;
    color: gray;
}

.btn{
    padding: .8vw 1vw;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
}

.btn:hover{
    background-color: #1f1d3e;
}


.design{
    height: fit-content;
    width: 100%;
    /* background-color: lightsalmon; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.design p{
    margin-top: 6vw;
    padding: .8vw 1.2vw;
    background-color: #ffd487;
    border-radius: 25px;
    margin-bottom: 2vw;
    cursor: pointer;

}

.design h2{
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    line-height: 4vw;
    font-size: 3.6vw;
    text-align: center;
    margin-bottom: 2vw;
    font-weight: 600;
}

.design h5{
    font-size: 1.4vw;
    font-weight: 500;
    margin-bottom: 1.5vw;

}

.start{
    padding: 1vw 1.3vw;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-bottom: 2vw;
    margin-top: .5vw;
}

.start:hover{
    background-color: #1f1d3e;
}



.products{
    height: 55vh;
    width: 100%;
    /* background-color: lightpink; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper{
    height: 95%;
    width: 100%;
    /* background-color: chartreuse; */
}

.swiper-wrapper{
    height: 100%;
    width: 100%;
    /* background-color: cornflowerblue; */
}

.card{
    height: 100%;
    width: 19% !important;
    background-color: crimson;
     background-image: url(https://cdn.dribbble.com/uploads/47170/original/cd3266dde4f00a5d6a509c7375ddaecd.png?1685644840&format=webp&resize=400x498&vertical=center);
     background-position: center;
     background-size: cover;
     border-radius: 10px;
     display: flex !important;
     justify-content: flex-end;
     flex-direction: column;
}

.up-card h4{
    margin: .2vw 0 0 1vw;
    font-size: 1vw;
    color: white;
    font-weight: 400;
    
}

.paragraph{
    display: flex;
}

.paragraph p{
    color: white;
    font-size: 1vw;
    margin: .5vw .5vw .5vw 0;
    padding: .2vw .7vw;
    background-color:  transparent;
    border-radius: 20px;
    /* border: none; */
    border: .2px solid #ffff;
}

.card2{
    background-image: url(https://i.pinimg.com/474x/81/30/02/8130022a6eb9d6d2c8978b805e188a8d.jpg);
     background-position: center;
     background-size: cover;
}

.card3{
    background-image: url(https://i.pinimg.com/474x/d2/0a/07/d20a0742e4fc1831d19d1f45d625939b.jpg);
     background-position: center;
     background-size: cover;
}


.card4{
    background-image: url(https://i.pinimg.com/474x/b3/f8/a9/b3f8a9ffb414e67cc998f6a5ae244dcd.jpg);
     background-position: center;
     background-size: cover;
}

.card5{
    background-image: url(https://i.pinimg.com/474x/31/b0/e8/31b0e894fea18d9f8113a0475c565ada.jpg);
     background-position: center;
     background-size: cover;
}



.card6{
    background-image: url(https://i.pinimg.com/474x/ed/c8/2c/edc82cb163f9adb1a0dcc37f1d48f0d9.jpg);
     background-position: center;
     background-size: cover;
}


.card7{
    background-image: url(https://i.pinimg.com/474x/1f/8f/db/1f8fdb7a28650d64e6b37deae9073e92.jpg);
     background-position: center;
     background-size: cover;
}


.card8{
    background-image: url(https://i.pinimg.com/474x/c2/db/0e/c2db0eac6e783a936081bfe8dcd45806.jpg);
     background-position: center;
     background-size: cover;
}


.card9{
    background-image: url(https://i.pinimg.com/474x/57/c1/4e/57c14e92d7a89b3e805df7f1ba077997.jpg);
     background-position: center;
     background-size: cover;
}


.card10{
    background-image: url(https://i.pinimg.com/474x/44/06/0a/44060abd322aef05ee4d26444676fcf6.jpg);
     background-position: center;
     background-size: cover;
}


.card11{
    background-image: url(https://i.pinimg.com/474x/e8/32/a2/e832a27d3a4cad7697dc5a4d32274d22.jpg);
     background-position: center;
     background-size: cover;
}
.card12{
    background-image: url(https://i.pinimg.com/474x/bc/bc/32/bcbc326202b15bcc99285d183a239bc2.jpg);
     background-position: center;
     background-size: cover;
}



.explore h1{
    margin-top: 1.8vw;
    font-size: 3.5vw;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.3vw;
}

.img-container{
    height: 50vh;
    width: 100%;
    /* background-color: lightgreen; */
    display: flex;
    justify-content: space-evenly;
    padding: 0 2vw;
}

.container-left{
    height: 100%;
    width: 30%;
    /* background-color: rgb(84, 215, 224); */
}

.container-mid{
    height: 100%;
    width: 30%;
    /* background-color: rgb(84, 156, 224); */
}

.container-right{
    height: 100%;
    width: 30%;
    /* background-color: rgb(103, 84, 224); */
}

.container-top{
    height: 85%;
    width: 100%;
    border-radius: 10px;
    /* background-color: yellow; */
    background-image: url(https://cdn.dribbble.com/userupload/15697966/file/still-330d0a702330d44b57b7624af6c0854d.png?resize=640x480&vertical=center);
    background-position: center;
    background-size: cover;
}

.container-bottom{
    height: 15%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    margin-top: 1vw;
}

.img-box{
    height: 80%;
    width: 10%;
    /* background-color: violet; */
    background-image: url(https://cdn.dribbble.com/users/11502486/avatars/small/a8456497e26e27118763af6fc5b5fbcc.png?1650726363);
    background-position: center;
    background-size: cover;
}

.container-bottom p{
    font-size: 1vw;
    font-weight: 400;
}


.text{
    height: 100%;
    width: fit-content;
    margin-left: .8vw;
    padding-top: .5vw;
}

.team{
    height: 100%;
    width: fit-content;
    /* background-color: cornflowerblue; */
    margin-left: .5vw; 
    padding-top: .5vw;

}

.team p{
    background-color: #cccccc;
    padding: 0 .3vw;
    border-radius: 3px;
}

.like{
    height: 100%;
    width: 14%;
    /* background-color: deeppink; */
    margin-left: 7vw;
    padding-top: .5vw;
    display: flex;
}

.like p{
    padding-left: .3vw;
}

.views{
    height: 100%;
    width: 15%;
    /* background-color: gold; */
    padding-top: .5vw;
    display: flex;
}

.views p{
    padding-left: .3vw;
}




















@media (min-width: 1px) and (max-width: 425px){

    .icon{
        display: flex;
        font-size: 7vw;
        padding-right: 2vw;
    }

    .mid{
        /* display: none; */
    }
    
    .btn{
        padding: 3vw 3.5vw;
    }

    .btn {
        margin-left: auto;
        flex: 0 0 auto;
    }


    .right input{
        display: none;
    }

    .right p{
        display: none;
    }
    
    .left{
        width: 50%;
        padding: 2vw 0 0 0;
    }

    .left h1{
     font-size: 8vw;
     margin-left: 1vw;

    }

    .right {
        display: block;
    }
    .btn {
        padding: 3vw 4vw;
        margin-top: 4vw;
        margin-left: 2.5vw;
        float: left;
    }

    .mid{
        width: 15%;
    }


    
    .mid a{
        display: none;
    }

    .mid i{
    font-size: 7vw;
    padding-right: 2vw;
    padding-bottom: 2vw;
    }
    
    .abc{
        display: flex;
        font-size: 8vw;
    }

    .design p{
        margin-top: 13vw;
        margin-bottom: 5vw;
    }

    .design h2{
        width: 60%;
        font-size: 9vw;
        line-height: 11vw;
        font-weight: 500;
    }

    .design h5{
        margin-top: 3vw;
        font-size: 5vw;
        width: 85%;
        line-height: 7vw;
        text-align: center;
    }

    .start{
        margin-top: 4vw;
        padding: 4vw 3vw;
    }

    .card{
        width: 100% !important;
    }

    .swiper-wrapper{
        width: 80% !important;
    }

    .up-card h4{
        margin: 0 0 1vw 4vw;
        font-size: 4vw;
    }

    .paragraph p{
        font-size: 3vw;
        margin: 2vw 0 3vw 4vw;
    }
     
    .explore{
        display: flex !important;
        justify-content: center!important;
    }
    .explore h1{
        margin-top: 4vw;
        font-size: 9vw;
        width: 90%;
        line-height: 10vw;
    }

  
}








